{% extends 'base.html' %}
{% block head_title %}
    {{ title }} | {{ block.super }}
{% endblock head_title %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load humanize %}
{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block content %}

<script src="//code.jquery.com/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{{ form.media }}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Realizar Corte de Ventas.</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Starter Page</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          {% if request.user.is_patron %}
          <div class="col-lg-6">
            <!-- # Comienza el contenido de la primera tarjeta # -->
            <div class="card card-primary card-outline">    <!-- # Inicia el Titulo de la Tarjeta -->
              <div class="card-header">
                <h1 class="m-0">{{ title }}</h1>
              </div>                                        <!-- # Termina el Titulo de la Tarjeta -->
              <div class="card-body">                       <!-- # Inicia el Cuerpo de la Tarjeta -->
                {% if form %}
                <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
                  {{ form|crispy}}
                  <button type="submit" class="btn btn-primary" value="submit" name="busca_usuario_fecha">Submit</button>
                </form>
                  {% else %}
                  <!----------------------------------------------------->

                  <label for="search_by_ID">Busca Articulo: </label>
                  <input type="text" id="search_by_ID" onkeyup="buscando()" placeholder="Entra Articulo ID.." title="Type in a elb name" autofocus/>
                  <span style="display:none;" id="search_by_ID"></span>
                  <div>
                    <table id="Inventario_Articulos" class="table table-hover">
                      <tr class="active"><th>No Ticket</th><th>Usuario</th><th>Cliente</th><th>Total</th><th>A Cuenta</th><th>Saldo</th><th>Fecha</th></tr>
                      {% for obj in lista %}
                        {% for obje in lista_tickets %}
                          {% if obj.pk == obje %}
                            <tr class="info">
                            <!--<td>{{ obj.articulo_id }}</td>-->
                            <!--<td><a href='{{ obj.control_inventory_url }}' class="btn btn-info" role="button">{{ obj.articulo_id }}</a></td>-->
                              <td><center><strong>{{ obj.pk }}</strong></center></td>
                              <td><a href='{{ obj.get_cliente_url }}' class="btn btn-info" role="button">{{ obj.usuario }}</a></td>
                              <td>{% ifequal obj.cliente 'SYSTEM' %}MOSTRADOR{% else %}{{ obj.cliente }}{% endifequal %}</td>
                              <td>${{ obj.total|intcomma }}</td>
                              <td>${{ obj.a_cuenta|intcomma }}</td>
                              <td>${{ obj.deve|intcomma }}</td>
                              <td>{{ obj.registrado }}</td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </table>
                    <div class="pagination">
                      <span class="step-links">
                        {% if object_list.has_previous %}<a href="?{{ page_request_var }}={{ object_list.previous_page_number }}">previous</a>{% endif %}
                        <span class="current">
                            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                        </span>
                        {% if object_list.has_next %}
                          <a href="?{{ page_request_var }}={{ object_list.next_page_number }}">next</a>
                        {% endif %}
                      </span>
                    </div>
                    <hr>
                  </div>

                  <script language="javascript">
        function buscando() {
            var tableReg = document.getElementById('Inventario_Articulos');
            var searchText = document.getElementById('search_by_ID').value.toLowerCase();
            var cellsOfRow="";
            var found=false;
            var compareWith="";

            // Recorremos todas las filas con contenido de la tabla
            for (var i = 1; i < tableReg.rows.length; i++)
            {
                cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
                found = false;
                // Recorremos todas las celdas
                for (var j = 0; j < cellsOfRow.length && !found; j++)
                {
                    compareWith = cellsOfRow[j].innerHTML.toLowerCase();
                    // Buscamos el texto en el contenido de la celda
                    if (searchText.length == 0 || (compareWith.indexOf(searchText) > -1))
                    {
                        found = true;
                    }
                }
                if(found)
                {
                    tableReg.rows[i].style.display = '';
                } else {
                    // si no ha encontrado ninguna coincidencia, esconde la
                    // fila de la tabla
                    tableReg.rows[i].style.display = 'none';
                }
            }
        }
    </script>
    <!---------------------------------------------------------------------->
{% endif %}


{% endif %}
              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h5 class="m-0">Liquidacion de Turno de {{ liquidacion.usuario }}.</h5>
              </div>
              <div class="card-body">
                {% if not liquidacion %}
                <form method="POST" action="" class="uniForm" enctype="multipart/form-data">{% csrf_token %}
                  <input type="hidden" name="indice" /><label>Ingresa Total de Ventas: $</label>
                  <input type="number" min="0" id="liquidacion" name="liquidacion" placeholder="Cantidad.." autofocus/>
                  <div class="btn-group" role="group" aria-label="...">
                    <button type="submit" class="btn btn-outline-success btn-sm" value="submit" name="Liquidar">Liquidar</button>
                  </div>
                </form>
                {% endif %}
                <hr>
                <table width="100%">
                  <tr>
                    <td width="100%" BGCOLOR="BLACK">
                      <font color="white" align="right">
                        <strong>
                          <h2>Detalle de Liquidacion {% if liquidacion %}{{ liquidacion.registrado }} {% endif %} |</h2>
                        </strong>
                      </font>
                    </td>
                  </tr>
                </table>
                <table width="100%" BGCOLOR="BLACK">
                  <tr>
                    <th>
                      <font color="white" aling="right">
                        <strong>
                          <h5>Usuario:</h5>
                        </strong>
                      </font>
                    </th>
                    <th>
                      <font color="white" aling="right">
                        <strong>
                          <h5>Liquido:</h5>
                        </strong>
                      </font>
                    </th>
                    <th>
                      <font color="white" aling="right">
                        <strong>
                          <h5>Debio Liquidar:</h5>
                        </strong>
                      </font>
                    </th>
                    <th>
                      <font color="white" aling="right">
                        <strong>
                          <h5>Balance:</h5>
                        </strong>
                      </font>
                    </th>
                  <tr>
                    <center>
                      <td class="bg-info"><h4>{{ liquidacion.usuario }}</h4></td>
                      <td class="bg-primary"><h4>${{ liquidacion.liquido|intcomma }}</h4></td>
                      <td class="bg-warning"><h4>${{ liquidacion.monto_a_liquidar|intcomma }}</h4></td>
                    {% if liquidacion.liquido >= liquidacion.monto_a_liquidar %}
                      <td class="bg-success"><h4>${{ liquidacion.balance|intcomma }}</h4></td>
                    {% elif  liquidacion.liquido < liquidacion.monto_a_liquidar or liquidacion.balance <= 0 %}
                      <td class="bg-danger"><h4>${{ liquidacion.balance|intcomma }}</h4></td>
                    {% endif %}
                    </center>
                  </tr>

                </table>
                <table width="100%">
                  <tr>
                    <td width="100%" BGCOLOR="BLACK">
                      <font color="white" align="right">
                        <strong>
                          <h1>|</h1>
                        </strong>
                      </font>
                    </td>
                  </tr>
                  <tr>
                    <td width="100%" BGCOLOR="BLACK">
                      <font color="white" align="right">
                        <strong>
                          {% if liquidacion.liquido >= liquidacion.monto_a_liquidar  %}
                          <h1 class="text-success">Total:  $ {{ liquidacion.balance|intcomma }}</h1>
                          {% elif  liquidacion.liquido < liquidacion.monto_a_liquidar or liquidacion.balance <= 0 %}
                          <h1 class="text-danger">Total:  $ {{ liquidacion.balance|intcomma }}.00</h1>
                          {% endif %}
                        </strong>
                      </font>
                    </td>
                  </tr>
                  <tr>
                    <td width="100%" BGCOLOR="BLACK">
                      <font color="white" align="right">
                        <strong>
                          <h1>|</h1>
                        </strong>
                      </font>
                    </td>
                  </tr>
                  <!--<tr>
                    <td width="100%" BGCOLOR="BLACK" align="right">
                      <form method="POST" action="" class="uniForm" enctype="multipart/form-data">{% csrf_token %}
                        <div class="btn-group" role="group" aria-label="...">
                            {% if pago_form %}{{ pago_form }}{% endif %}
                          <button type="submit" class="btn btn-success btn-lg" value="submit" name="contado">Contado</button>
                            {% if flag == 'apartados' %}
                          <button type="submit" class="btn btn-warning btn-lg" value="submit" name="apartados">Apartado</button>
                          <button type="submit" class="btn btn-danger btn-lg" value="submit" name="credito">Credito</button>
                            {% endif %}
                        </div>
                      </form>
                    </td>
                  </tr>-->
                </table>
              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}